<!-- Snoska.Media marker -->
<script type='application/javascript'>
    (function (doc, site_id) {
        const firstScriptElement = doc.getElementsByTagName("script")[0]
        const scriptElement = doc.createElement("script")
        scriptElement.async = true
        scriptElement.src = "//cdn.snoska.media/script.js?id=" + site_id
        firstScriptElement.parentNode.insertBefore(scriptElement, firstScriptElement)
    })(document, "12341234123412341234")
</script>
<!-- /Snoska.Media marker -->
