<!-- Snoska.Media marker -->
<script type='application/javascript'>
    (function (doc, site_id) {
        const firstScriptElement = doc.getElementsByTagName("script")[0]
        const scriptElement = doc.createElement("script")
        scriptElement.async = true
        scriptElement.setAttribute("type","module")

        scriptElement.setAttribute("crossorigin","use-credentials")
        scriptElement.src = "https://app.snoska.media/snoska-marker.js?id=" + site_id
        firstScriptElement.parentNode.insertBefore(scriptElement, firstScriptElement)
    })(document, "bcadb058fd0447cdafa6432f2357ba5f")
</script>
<!-- Snoska.Media marker -->
